// style sample.
// if you do not need to parse to twemoji,
// delete below script.

@import 'variables';

html, body {
    background-color: $ui-base-color;
}

body {
    margin: 4em 0em;
}

#wiki-wrapper {
    background-color: $ui-base-lighter-color;
    padding: 20px;

    #head {
        margin: 0em 0em 1.5em 0em;
        h1 {
            color: $secondary-text-color;
            padding: 0.3em 0em;
        }
        .actions {
            display: none;
            background-color: $ui-base-color;
            position: absolute;
            top: 9em;
            right: 6em;
            max-width: 100%;
            border: 1px solid $ui-base-lighter-color;
            z-index: 100;
            
            li {
                margin: 0.6em;
            }
        }
        .menu-action {
            vertical-align: middle;
            display: block;
            padding: 0.8em;
            float: right;
            background-color: $ui-highlight-color;
            border-radius: 1.5em;
            cursor: pointer;
            text-align: center;
            color: $primary-text-color;
            font-weight: bold;

            .burger {
                vertical-align: middle;
                margin: auto auto;
                width: 1.5em;
                height: 5px;
                background-color: $primary-text-color;
            }

            &:hover {
                background-color: lighten($ui-highlight-color, 10%);
            }
            &:active {
                background-color: $ui-highlight-color;
            }
        }
    }
    #footer {
        margin: 1em 0em 0em 0em;
    }
}

#wiki-content {
    color: $primary-text-color;

    #wiki-body {
        margin: 0;
    }

    h1, h2, h3, h4 {
        color: $secondary-text-color;
    }

    .markdown-body {
        margin: 0px 30px;
        padding: 0;
    }

    :not(.highlight)>code, .highlight {
        background-color: lighten($black, 20%);
        border: 1px solid darken($white, 50%);
    }

    blockquote {
        background-color: lighten($ui-base-color, 10%);
        font-family: serif;
        color: lighten($ui-base-color, 60%);
    }

    a {
        color: $link-text-color;
    }

    .toc {
        background-color: $ui-secondary-color;
        
        .toc-title {
            color: $dark-text-color;
            border-bottom: 1px solid $dark-text-color;
        }

        a {
            color: darken($link-text-color, 50%);
        }

        ul {
            list-style-type: lower-roman;
            color: $black;
            margin: 0px 0.5em;
        }
    }

    ul, ol {
        margin: 0;
    }

    hr {
        margin-block: 0.5em 0em;
        border: 1px dashed $ui-base-color;
        height: 0px;
        background: none;
    }
}

.minibutton {
    a {
        color: $primary-text-color;
        background: $ui-highlight-color;
        font-family: sans-serif;
        border: none;
        text-decoration: none;
        text-shadow: none;
        padding: 0.7em 1em;

        &:hover {
            background: lighten($ui-highlight-color, 10%);
            text-decoration: none;
            text-shadow: none;
        }
    }
}

#searchbar-fauxtext {
    border: none !important;
    background-color: none;
    height: 2.8em !important;

    input#search-query {
        background: lighten($ui-base-color, 10%);
        color: $darker-text-color;
        border: none !important;
        height: none !important;
    }
    a#search-submit {
        background: lighten($ui-base-color, 10%);
        border: none !important;
        height: none !important;
    }
}

.emoji {
    vertical-align: middle;
    height: 1em;
    width: 1em;
}
